<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Webapp</title>
  <base href="/">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>


  <div>
    <nav class="navbar navbar-expand-lg navbar-dark " style="background-color:  #4B0082;">
      <a class="navbar-brand text-light" style="padding-left: 6vw;">
        <!-- <i class="material-icons">local_dining</i> truYum -->
        <i class="material-icons mt-2">groups</i>
      </a>
      <span class="navbar-brand text-light"> tweetApp </span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ml-auto">

          <!-- logged user -->
          <li class="nav-item">
            <a class="nav-link text-light" *ngIf="isAuthenticated()" routerLink="menu">New Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" *ngIf="isAuthenticated()" routerLink="menu">My Posts</a>
          </li>
          <!-- logged user -->

          <!-- for all -->
          <li class="nav-item">
            <a class="nav-link text-light" *ngIf="isAuthenticated()" routerLink="menu">All Posts</a>
          </li>
          <!-- for all -->

          <!-- search for friends  -->
          <li class="nav-item mt-1">
            <form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="Search for friends" aria-label="Search"
                (input)="OnSearchPeople($event)">
            </form>
          </li>
          <!-- search for friends  -->

          <!-- logged user drop dropdown -->
          <li class="nav-item mt-1 pb-1" style="padding-right: 5vw;">
            <div class="input-group ">
              <div class="input-group-append">
                <span class="input-group-text" style="background-color:  #4B0082;" id="addon-wrapping">
                  <!-- {{getLastname()}}, {{getFirstname()}} -->
                  <!-- My name -->
                  <i class="material-icons text-light">person</i>
                </span>
                <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split "
                  style="height: 40px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>

                <!-- logged user  -->
                <div class="dropdown-menu">
                  <a class="dropdown-item disabled" routerLink="menu">
                    User Name
                    <!-- {{getLastname()}}, {{getFirstname()}} -->
                  </a>
                  <div role="separator" class="dropdown-divider"></div>
                  <a class="dropdown-item" routerLink="menu">Edit profile</a>
                  <a class="dropdown-item" routerLink="menu">change password</a>
                  <a class="dropdown-item" routerLink="menu">Logout</a>
                </div>
                <!-- logged User -->

                <!-- annonymous user -->
                <div class="dropdown-menu">
                  <a class="dropdown-item" routerLink="login">Login</a>
                  <a class="dropdown-item" routerLink="signup">Signup</a>
                  <a class="dropdown-item" routerLink="forgot">forgot password?</a>
                </div>
                <!-- annonymous user -->
              </div>
          </li>
          <!-- logged user drop dropdown -->


          <!-- logged user drop dropdown -->
          <li class="nav-item mt-1 pb-1" style="padding-right: 5vw;">
            <div class="input-group ">
              <div class="input-group-append">
                <span class="input-group-text" style="background-color:  #4B0082;" id="addon-wrapping">
                  <!-- {{getLastname()}}, {{getFirstname()}} -->
                  <!-- My name -->
                  <i class="material-icons text-light">person</i>
                </span>
                <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split "
                  style="height: 40px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>

                <!-- annonymous user -->
                <div class="dropdown-menu">
                  <a class="dropdown-item" routerLink="login">Login</a>
                  <a class="dropdown-item" routerLink="signup">Signup</a>
                  <a class="dropdown-item" routerLink="forgot">forgot password?</a>
                </div>
                <!-- annonymous user -->

                <!-- logged user  -->
                <div class="dropdown-menu">
                  <a class="dropdown-item disabled" routerLink="menu">
                    User Name is very big
                    <!-- {{getLastname()}}, {{getFirstname()}} -->
                  </a>
                  <div role="separator" class="dropdown-divider"></div>
                  <a class="dropdown-item" routerLink="menu">Edit profile</a>
                  <a class="dropdown-item" routerLink="menu">change password</a>
                  <a class="dropdown-item" routerLink="menu">Logout</a>
                </div>
                <!-- logged User -->
              </div>
          </li>
          <li style="padding-right:80px;"></li>
        </ul>
      </div>
    </nav>
  </div>

  <div>
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

  <footer class="navbar text-light fixed-bottom d-flex justify-content-center" style="background-color:  #4B0082;">
    <div> Copyright 2021 </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

</body>

</html>